@import "tailwindcss";

:root {
  --bg-color: #ffffff;
  --text-color: #171717;
  --primary-color: #F9AE42;
  --muted-color: #6E6E6E;
  --border-color: #333333;
  --color-app-bg: var(--bg-color);
  --color-app-text: var(--text-color);
  --color-app-primary: var(--primary-color);
  --color-app-muted: var(--muted-color);
  --color-app-border: var(--border-color);
}
.dark {
  --bg-color: #0a0a0a;
  --text-color: #ededed;
  --primary-color: #C38AF5;
  --muted-color: #B5B5B5;
  --border-color: #333333;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
